@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&display=swap); 
* {
  margin: 0;
  padding: 0;
}


body, input, button {
  font-family: 'Lato', sans-serif;
}
#dropdown{
    width: 250px;
    margin-bottom: 10px;
  }
  #dropdown option{
    width: 200px;
  }
  